@charset "utf-8";
body {
font-family:Arial, Helvetica, sans-serif
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: none repeat scroll 0 0 #656565;

	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000; 
	height:100%;

 
}
#wrapper{
	width: 1023px; 
	margin: 0 auto; 
	text-align: left;
	/*padding-bottom:30px;	*/
	padding-bottom:10px;	
		background: #FFFFFF;
		min-height:100%;
position:relative;

}

#container 
	{
		width: 100%;
	    min-height:400px;
		margin: 0; 
		text-align: center;
		position:relative;
		bottom:0; left:0;
		right:0;
		padding-bottom:0px; 
		background:none;
		margin-bottom:30px;	
	}

#green_strip {
    background-color: #ADD139;
    height: 6px;
}

#blue_strip {
    background-color: #5F81CF;
    height: 6px;
}
 #header { 
	background: #FFFFFF; 

	text-align:left;
	width: 950px; 
	height:65px;
	
	
	
} 
 #header h1 {
	margin-top: 5px; 
	color:#3D5D96;
	/*padding: 10px 0;*/
	clear:both;
	
}

#navigation{
	width: 950px; 
	padding: 0px 10px 0 0px; 
	text-align:left;
	/*height:30px; */
	margin-top:30px;
	
	width: 950px\9;
	margin-top:3px\9;
	margin-bottom:0px\9;
	padding:0px\9;
	
	height: 62px;
}

#navigation table tr td ul
{
	
}

h2  {

	font-family:tahoma, Helvetica, sans-serif;
	font-size:1.0em;
	color: #3969ab;
	font-weight:bold;
	margin-left:10px;
}

h3{

}
.mainhead{

height:30px;
text-align:center;
font-size:14px;
font-weight:bold;

border-top:1px solid #DDDDDD;
border-bottom:1px solid #DDDDDD;
}

/*navigation*/
 
 
#navigation ul li 	{list-style:none; display:inline; background-color:#3969AB; height:30px;padding:7px 10px 7px 10px;} 
#navigation a		{color:#FFF;  text-decoration:none; font-size:12px; font-weight:bold; }
#navigation a:hover	{color:#CCCCCC;} 


#inner-navigation{
text-align:right;
padding:1px 5px 0px 0px;
} 


#inner-navigation ul li {list-style:none; display:inline; background-color:#3969AB; height:30px;padding:3px 10px 3px 10px; } 
#inner-navigation a	{color:#FFF;  text-decoration:none; font-size:12px; font-weight:bold; }
#inner-navigation a:hover {color:#CCCCCC;} 


.menu_tbl
{
    margin-top: -12px; 
    margin-top: 5px\9;
}

/* Target to crome only */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
  .menu_tbl{margin-top: 5px;}
}

.menu_tbl td
{
    height: 26px; 
}



 #imageBar {
	width:800px;
	padding-bottom:20px;
	margin-bottom:20px;
	float:left;
	clear:both;
}

 #mainContent {
	margin-top:10px;
	padding: 20px 20px;
	background: #FFFFFF;
	clear:both;
	height:auto;
}


img.floatLeft { 
    float: left; 
    display:inline;
	margin: 0 0 10px 10px;
border: 1px solid #666;
padding: 2px;
	}




p {
	margin: 10px 10px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:0.8em;
	}


p a:link { text-decoration: none; color:#3969ab; font-weight:bold; } 
p a:visited {color:#3969ab;}
p a:hover {color:#5F81CF;}
image{border:0;}

#textBox {
	width:600px;
	float:left;
	margin-left:10px;
}

 #footer { 
    /*margin-top:20px;*/
	margin : 0 auto;
	background:#5F81CF;
	height:30px;
	bottom:0;
	/*float:left;*/
	width:100%;
	clear : both;
	margin-top:30px;
	position : unset;
	/*position:absolute;*/
   left:0px;
   bottom:0px;

} 

#footertext {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:0.7em;
	color:#FFF;
	padding-top:5px;
}

 #footer p {
	margin: 0; 

}


.clear {
	clear:both;
	margin-bottom:10px;
	padding-bottom:10px;
}

#slideshow {
    position:relative;
    height:250px;
	margin-bottom:20px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:1.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}
.successmsg
{
	border:1px solid #66CC33;
	/*-moz-border-radius:3px;
	-webkit-border-radius:3px;*/
	padding:10px 5px 0px 45px;
	/*background: url("../images/error.png") 5px 5px no-repeat #FFFFE5;*/
	background-color:#BFE3C2;
	height: 28px;
	color:#003399;
	font-size:12px;
	text-align:center;
}

.errormsg
{
	border:1px solid #F03E45;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:10px 5px 0px 45px;
	/*background: url("../images/error.png") 5px 5px no-repeat #FFFFE5;*/
	background-color:#E1E1E1;
	height: 28px;
	color:#FF0033;
	font-size:12px;
	text-align:center;
}
.errormsgnew
{
	border:1px solid #F03E45;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:10px 5px 7px 45px;
	/*background: url("../images/error.png") 5px 5px no-repeat #FFFFE5;*/
	background-color:#E1E1E1;
	min-height:28px;
/*	//height: 28px;*/
	color:#FF0033;
	font-size:12px;
	padding-left:35%; 
	text-align:left
	/*text-align:left;*/
}



#formText { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.2em; color:#3969ab;}
label { width:2em float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
/*.submit { margin-left: 12em; }*/
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

.note{
color:#646464;
}


form 
{
margin:0px;
padding:0px;
}
/* added by seema*/
/*.form
{
margin:10px;
text-align:center;
}
.form label{ color:#FFFFFF; font-weight:bold}
.form input[type=text], input[type=password] { width:180px; height:20px; margin-left:5px}
.form input[type=submit], input[type=button]{ padding:5px 10px; font-weight:bold}
.form select{ width:185px; height:28px; margin-left:15px}
*/


/*end*/

.field_desc
{
 color:#666666;
}
.anth a{ text-decoration:none}