<?php
	/*======================================
	Developer	-	Jaishree Sahal
	Module      -  Feedback webservice
	SunArc Tech. Pvt. Ltd.
	======================================		
	******************************************************/
?>


<br />	
<form method="post" action="http://10.0.0.46/facilitysystem/index.php?mod=feedback&do=edit&task=assign&call=API">
<center>
	

 <table width="60%"  border="2px" align="center" cellpadding="2" cellspacing="2" class="table table-bordered">
    <tbody>
	
	 <tr> 
		<td align="right" class="fontstyle" width="30%"><label for="fault_id" class="control-label col-xs-10">Access Key</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter access key" class="form-control" type="text" name="access_key" id="access_key" size=25> </div> </td>
	</tr>
	 <tr> 
		<td align="right" class="fontstyle" width="30%"><label for="fault_id" class="control-label col-xs-10">Feedback Id</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter Feedback" class="form-control" type="text" name="task_id" id="task_id" size=25> </div> </td>
	</tr>
	 <tr> 
		<td align="right" class="fontstyle" width="30%"><label for="fault_id" class="control-label col-xs-10">Cleaner Id</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter Cleaner Id" class="form-control" type="text" name="cleaner_id" id="cleaner_id" size=25> </div> </td>
	</tr>
	<tr class="alt">
	<td colspan="2">
	<div class="col-xs-offset-2 col-xs-10" style="width:50% !important; margin-left: 24.6667%;">
	<button type="submit" class="btn btn-primary" name="submit">Add</button>
     </div>
	</td>
	</tr>
</table>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b
	class="xb1"></b></b></div>

	
</form>

</center>
</body>
</html>
