<form method="post" action="http://10.0.0.46/facilitysystem/index.php?mod=login&do=web_login&call=API">
<center>
	

 <table width="60%"  border="2px" align="center" cellpadding="2" cellspacing="2" class="table table-bordered">
    <tbody>
	
	 <tr> 
		<td align="right" class="fontstyle" width="30%"><label for="user_email" class="control-label col-xs-10">User Email</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter user_email" class="form-control" type="text"
			name="user_email" id="user_email" size=25> </div> </td>
	</tr>
	 <tr> 
		<td align="right" class="fontstyle" width="30%"><label for="fault_id" class="control-label col-xs-10">Password</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter password" class="form-control" type="text"
			name="password" id="password" size=25> </div> </td>
        <tr>  <td align="left">  <button type="submit" class="btn btn-primary" name="submit">login	</button></td></tr>
	</tr>
    </tbody>
    </table>
    </center>
    </form>
