<?php
	/*======================================
	Developer	-	Jaishree Sahal
	Module      -  Feedback webservice
	SunArc Tech. Pvt. Ltd.
	======================================		
	******************************************************/
?>


<br />	
<form method="post" name="feedback_add" id="feedback_add" enctype="multipart/form-data" action="http://10.0.0.46/facilitysystem/index.php?mod=feedback&do=add&call=API&task=addfeedback">
<center>
	

 <table width="60%"  border="2px" align="center" cellpadding="2" cellspacing="2" class="table table-bordered">
    <tbody>
	
	 <tr>
		<td class="fontstyle" align="right"><label for="rating" class="control-label col-xs-10">Rating </label></td>
		<td align="left">
		<div class="col-xs-4">
        <select class="form-control" name="rating" id="rating">
			<option value="" selected="selected">Please Select</option>
			<option value="Excellent">Excellent</option>
			<option value="Good">Good</option>
			<option value="Average">Average</option>
			<option value="Poor">Poor</option>
			<option value="Very Poor">Very Poor</option>
		</select> </div></td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="fault_id" class="control-label col-xs-10">Fault_id</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter Feedback" class="form-control" type="text" name="fault_id" id="fault_id" size=25> </div> </td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="device_name" class="control-label col-xs-10">device_name</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter device_name" class="form-control" type="text" name="device_name" id="device_name" size=25> </div> </td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="location_id" class="control-label col-xs-10">Location_id</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter Feedback" class="form-control" type="text"
			name="location_id" id="location_id" size=25> </div> </td>
	</tr>
	<tr class="alt">
	<td colspan="2">
	<div class="col-xs-offset-2 col-xs-10" style="width:50% !important; margin-left: 24.6667%;">
		
		<button type="submit" class="btn btn-primary" name="submit">Add</button>
		
     </div>
		</td>
	</tr>
</table>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b
	class="xb1"></b></b></div>

	
</form>

</center>
</body>
</html>
